@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

:root {
  --base0: #2b3235;
  --base1: #394246;
  --base2: #495659;
  --base3: #c7c5bb;
  --base4: #e1dfda;
  --base5: #fcfcfc;
  --red: #ff4b42;
  --orange: #ff831e;
  --yellow: #efbb00;
  --lime: #7ac600;
  --green: #00c609;
  --teal: #0bb792;
  --cyan: #00aeb7;
  --blue: #3d94ff;
  --indigo: #757cff;
  --purple: #ad6bff;
  --magenta: #f542ff;
  --pink: #ff32a3;

  --selected: var(--orange);
  --valid: var(--teal);
  --p1: var(--red);
  --p2: var(--blue);
  --p3: var(--yellow);
  --p4: var(--green);

  --background: var(--base0);
  --foreground: var(--base4);
  --codebg: var(--base1);
  --codefg: var(--base4);
  --accent: var(--blue);
  --lowlight: var(--base3);
}

html {
  margin: 0;
  font-size: 11pt;
  color: var(--foreground);
  background-color: var(--background);
  font-family: Anton, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  width: 42rem;
  padding: 1rem;
  margin: 0 auto;
}

.bgio-loading {
  margin: 0 auto;
  text-align: center;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 8rem;
  margin: 1rem 0;
}

h1 a {
  color: inherit;
  text-decoration: none;
}

h1 a:hover {
  color: var(--cyan);
}

h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
  margin: 1rem 0;
}

#winner {
  text-transform: uppercase;
  font-size: 4rem;
}

#winner button {
  display: block;
  color: var(--base4);
  border: 0.2rem solid var(--base4);
  background-color: var(--base1);
  font-size: 2rem;
  padding: 1rem;
  margin: 1rem auto;
  height: 5rem;
  box-sizing: border-box;
}

#winner button:hover {
  background-color: var(--base2);
  cursor: pointer;
}

.piece {
  position: relative;
  width: 8rem;
  height: 8rem;
  padding: 0;
}

#game.n2 #board .piece {
  width: 12rem;
  height: 12rem;
}

#game.n3 #board .piece {
  width: 10rem;
  height: 10rem;
}

#game.n4 #board .piece {
  width: 8rem;
  height: 8rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#lobby {
  text-align: center;
  margin: 0 auto;
  font-size: 2rem;
  padding: 0;
  box-sizing: border-box;
}

#lobby input {
  text-align: center;
  color: var(--base5);
  background-color: var(--base2);
  border: 0.2rem solid var(--base1);
  margin: 1rem 0;
  box-sizing: border-box;
  width: 20rem;
}

#lobby #createMatch {
  margin: 0 1rem;
  padding: 0;
  box-sizing: border-box;
}

#lobby #createMatch h2 {
  margin-bottom: 0;
}

#lobby #createMatch button {
  border: 0.2rem solid var(--base5);
  background-color: var(--base1);
  padding: 1rem;
  margin: 1rem;
  width: 5rem;
  height: 5rem;
  box-sizing: border-box;
}

#lobby #createMatch button:hover {
  background-color: var(--base2);
  cursor: pointer;
}

#lobby #createMatch button.p2 {
  margin-right: 0;
  border-color: var(--p2);
  color: var(--p2);
}

#lobby #createMatch button.p3 {
  margin-right: 0;
  border-color: var(--p3);
  color: var(--p3);
}

#lobby #createMatch button.p4 {
  border-color: var(--p4);
  color: var(--p4);
}

#lobby #joinMatch {
  margin: 0 1rem;
  padding: 0;
  box-sizing: border-box;
}

#lobby #joinMatch input {
  margin: 1rem 0 0 0;
}

#lobby #joinMatch button {
  height: 5rem;
  text-transform: uppercase;
  text-align: center;
  color: var(--base4);
  padding: 1rem;
  margin: 1rem;
  background-color: var(--base1);
  border: 0.2rem solid var(--base4);
  box-sizing: border-box;
}

#lobby #joinMatch button:hover {
  background-color: var(--base2);
  cursor: pointer;
  color: var(--cyan);
  border-color: var(--cyan);
}

#game {
  text-align: center;
  margin: 0 auto;
}

#game.active {
}

#game #board {
  margin: 1rem auto;
  border-collapse: collapse;
}

#game #hand {
  margin: 1rem;
}

#game #hand > div {
  display: inline-block;
  margin: 0.5rem;
}

.piece {
  font-size: 1.5rem;
  background-color: var(--base1);
  border: 0.2rem solid var(--base2);
  text-align: center;
  font-weight: bold;
  box-sizing: border-box;
}

.piece.valid {
  border-color: var(--valid);
}

.piece.selected {
  border-color: var(--selected);
}

.piece.p1,
button.piece.p1:hover {
  background-color: var(--p1);
}

.piece.p2,
button.piece.p2:hover {
  background-color: var(--p2);
}

.piece.p3,
button.piece.p3:hover {
  background-color: var(--p3);
}

.piece.p4,
button.piece.p4:hover {
  background-color: var(--p4);
}

.piece svg {
  width: 100%;
  height: 100%;
}

.piece.active svg path {
  fill: #020304;
}

.piece.p1.inactive {
  background-color: var(--base1);
}

.piece.p1.inactive svg path {
  fill: var(--p1);
}

.piece.p2.inactive {
  background-color: var(--base1);
}

.piece.p2.inactive svg path {
  fill: var(--p2);
}

.piece.p3.inactive {
  background-color: var(--base1);
}

.piece.p3.inactive svg path {
  fill: var(--p3);
}

.piece.p4.inactive {
  background-color: var(--base1);
}

.piece.p4.inactive svg path {
  fill: var(--p4);
}

#winner.p1 {
  color: var(--p1);
}

#winner.p2 {
  color: var(--p2);
}

#winner.p3 {
  color: var(--p3);
}

#winner.p4 {
  color: var(--p4);
}

@media (min-width: 44rem) {
  /* big screen only */
  #lobby input,
  #lobby #createMatch button,
  #lobby #joinMatch button,
  #winner button,
  .piece {
    border-width: 0.4rem;
  }

  button.piece.p1:hover,
  button.piece.p2:hover,
  button.piece.p3:hover,
  button.piece.p4:hover {
    border-color: var(--base3);
  }

  button.piece.p1.inactive:hover,
  button.piece.p2.inactive:hover,
  button.piece.p3.inactive:hover,
  button.piece.p4.inactive:hover {
    background-color: var(--base2);
  }

  button.piece:hover {
    cursor: pointer;
    background-color: var(--base2);
    border-color: var(--base3);
  }

}

@media (max-width: 44rem) {
  body {
    width: 32rem;
  }

  h1 {
    font-size: 6rem;
  }

  #winner {
    font-size: 3rem;
  }

  .piece {
    width: 6rem;
    height: 6rem;
  }

  #game.n2 #board .piece {
    width: 9rem;
    height: 9rem;
  }

  #game.n3 #board .piece {
    width: 7.5rem;
    height: 7.5rem;
  }

  #game.n4 #board .piece {
    width: 6rem;
    height: 6rem;
  }
}

@media (max-width: 34rem) {
  body {
    width: 22rem;
  }

  h1 {
    font-size: 4rem;
  }

  #winner {
    font-size: 2rem;
  }

  .piece {
    width: 4rem;
    height: 4rem;
  }

  #game.n2 #board .piece {
    width: 6rem;
    height: 6rem;
  }

  #game.n3 #board .piece {
    width: 5rem;
    height: 5rem;
  }

  #game.n4 #board .piece {
    width: 4rem;
    height: 4rem;
  }
}
